/Class Project/Server/node_modules
/Server Exam/Server/node_modules
/Group Project/Server/node_modules
/Group Project/Client/node_modules
/Group Project/Client/log
/Group Project/Server/log
/Class Project/client/node_modules

